.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.test {
    width: 66%;
    margin: auto;
    border: 0.5em solid black;
    border-radius: 1em;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#test-1 {
    background-color: #ffaaaa;
}

#test-2 {
    background-color: #aaffaa;
}

#test-3 {
    background-color: #ffffaa;
}

context-menu {
    font-family: sans-serif;
    font-size: 1rem;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    padding: 0em;
    overflow: visible;

    /* There was a bug where a rounded corner would prevent the context menu from  */
    /* border-top-left-radius: 0rem; */
}

/* This CSS rule exists solely to prevent the context menu from *
 * closing on release of right-click when opening a context     *
 * menu with rounded corners! Modify at your own risk!          */
context-menu::before {
    position: absolute;
    display: block;
    overflow: visible;
    top: -0.1rem;
    left: -0.1rem;
    width: 1px;
    height: 1px;
    background-color: transparent;
    border: none;
    content: "";
}

/* context-menu::backdrop {
    background-color: black;
} */

context-menu > option {
    padding: 0.25rem;
}

context-menu > option:hover {
    background-color: #00000044;
}